<a [routerLink]="['List']">zurück</a><br>

<div *ngIf="meal">

  {{meal.name}}<br>
  <form (ngSubmit)="onSubmit()" #mealForm="ngForm">
    <div>
        Name:<input type="text" required
            [(ngModel)]="meal.name"
            ngControl="name"  #name="ngForm" >
            <div [hidden]="name.valid" >Bitte einen Namen eingaben </div>
     </div>
     <div>
             Preis:<input type="number" step="0.01" required
                 [(ngModel)]="meal.price"
                 ngControl="price"  #price="ngForm" >
                 <div [hidden]="price.valid" >Bitte einen validen Preis eingaben </div>
     </div><br>
     <div *ngIf="submitted">Daten wurden gespeichert</div><br>
     <button type="submit" class="btn btn-default"
             [disabled]="!mealForm.form.valid">speichern</button>
   </form>
</div>
<div *ngIf="!meal">wird geladen ...</div>
